@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&family=EB+Garamond:wght@400;500&display=swap');

@theme {
  --font-sans: "EB Garamond", serif;
  --font-display: "Playfair Display", serif;

  --color-bgPrimary: #0e0907;
  --color-bgSecondary: #cf8e1e;
  --color-bgTertiary: #120b07;
  --color-primaryBorder: #2a1f15;
  --color-textPrimary: #ece3d6;
  --color-textSecondary: #857462;
}

body {
    font-size: 1.125rem; /* o prueba 1.2rem */
  }

@layer base {
  h1, h2, h3, h4, h5, h6, p {
    font-family: var(--font-display);
  }
}