@import "tailwindcss";

@theme{
    --color-bgPrimary: #120b07;
    --color-primaryBorder: #2a1f15;
    --color-textPrimary: #ece3d6;
    --color-textSecondary: #ece3d67c;
    --color-bgSecondary: #cf8e1e;

}