@import "tailwindcss";

@theme{
    --color-bgPrimary: #0e0907;
    --color-bgSecondary: #cf8e1e;
    --color-bgTertiary: #120b07;
    --color-primaryBorder: #2a1f15;
    --color-textPrimary: #ece3d6;
    --color-textSecondary: #857462;

}